// Colors
$clr-main-bg: #efebce;
$clr-header-bg: #a3a380;
$clr-info-bg: #d5d59a;

$clr-text-dark: #363520;
$clr-text-light: #fffff0;

$clr-button-bg: #75484b;

// Fonts
$font-header: "Playpen Sans", cursive;
$font-link: "Life Savers", serif;
$font-text: "Libre Baskerville", serif;

// Font sizes
$font-size-base: 1rem;
$font-size-sm: 0.875rem;
$font-size-s: 1rem;
$font-size-m: 1.125rem;
$font-size-lg: 1.25rem;
$font-size-xl: 2rem;
$font-size-xxl: 4rem;

// Breakpoint
$breakpoint-tablet: 480px;
$breakpoint-desktop: 1200px;
