@import "./variables";

// --- Mobile

body {
  line-height: 1.5;
  background-color: $clr-main-bg;
  font-family: $font-text;
  color: $clr-text-dark;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: $font-header;
  font-size: $font-size-xl;
}

a {
  font-family: $font-link;
  font-size: $font-size-lg;
}

// --- Tablet

@media screen and (min-width: $breakpoint-tablet) {
  h1 {
    font-size: $font-size-xxl;
  }

  a {
    font-size: $font-size-xl;
  }
}

// --- Desktop

@media screen and (min-width: $breakpoint-desktop) {
  h1 {
    font-size: $font-size-xxl;
  }

  a {
    font-size: $font-size-xl;
  }
}
