@import "../../styles/variables";
@import "../../styles/mixins";

.home-section {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 2rem;
}

.big-img-wrapper {
  width: 100%;
  max-width: 700px;
  overflow: hidden;
  border-radius: 10%;
  align-self: center;
  flex: 2;
}

.right-wrapper {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  gap: 2rem;
  flex: 1;

  .intro-text {
    padding: 1rem 1rem 0rem 1rem;

    p {
      margin: 0;
      font-size: $font-size-s;
    }
  }

  a {
    text-decoration: none;

    .link-btn {
      @include button-style;
      display: inline-block;
      padding: 20px;
      cursor: pointer;
      transition: background-color 0.2s ease, box-shadow 0.2s ease, transform 0.1s ease;

      @include push-effect($translateY: 2px);
    }
  }

  .small-img-wrapper {
    width: 100%;
    max-width: 300px;
    overflow: hidden;
    border-radius: 30%;
    align-self: center;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// --- Tablet

@media screen and (min-width: $breakpoint-tablet) {
  .home-section {
    flex-direction: row;
    align-items: stretch;
  }

  .right-wrapper .intro-text p {
    font-size: clamp(0.875rem, 2vw, 18rem);
  }
}

// --- Desktop

@media screen and (min-width: $breakpoint-desktop) {
  .right-wrapper .intro-text p {
    font-size: $font-size-m;
  }
}
